@import url("tailwindcss/tailwind.css");

body {
	--heading-color: #ff8906;
}

div.embed-modal .ant-modal-content {
	border-radius: 10px;
}

div.embed-modal .ant-modal-header {
	border-radius: 10px 10px 0 0;
}

.app-container {
	height: calc(100vh - (6.6rem));
	overflow: auto;
	padding: 1rem 10rem;
	margin-bottom: 1rem;
	@apply bg-secondaryBackground px-4 lg:px-40;
}

.modal-dimensions {
}
