@import url("tailwindcss/tailwind.css");

body {
	--heading-color: #ff8906;
}

div.embed-modal .ant-modal-content {
	border-radius: 10px;
}

div.embed-modal .ant-modal-header {
	border-radius: 10px 10px 0 0;
}

.app-container {
	height: calc(100vh - (5.4rem));
	overflow: auto;
	padding: 1rem 10rem;
	margin-bottom: 1rem;
	@apply bg-secondaryBackground px-4 lg:px-40;
}

.modal-dimensions {
}

.app-gradient {
	background: linear-gradient(338.69deg, #ffa78f -24.42%, #f23e2c 103%);
}

.text-clip {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
